div#page-title
    h1.page-header.text-overflow Account

div#page-content
    div.panel.panel-primary
        div.panel-heading
            div.panel-control(style="float: left;")
                ul.accountTabs.nav.nav-tabs
                    li.active
                        a(data-toggle="tab", href="#acc-tabs-box-1", isAccount="true") Accounts



        div.panel-body
            div.tab-content
                div#acc-tabs-box-1.tab-pane.fade.active.in
                    div(style="height: 31px;")
                        button.refAccTable.btn.btn-info.btn-icon.fa.fa-refresh(style="float: right; margin: 0 3px;", data-target="#accountListTable" )
                        button.addAccInTable.btn.btn-success.btn-icon.fa.fa-user-plus(style="float: right; margin: 0 3px;")

                    table#accountListTable


    //  модальне вікно підтвердження видалення акаунта
    div#rem-acc-modal.modal.fade(tabindex="-1", role="dialog")
        div.modal-dialog.modal-sm
            div.modal-content
                div.modal-header
                    button.close(data-dismiss="modal")
                        span &times;
                    h5 Do you want to remove this account?
                div.modal-body
                    form.form-horizontal
                        div.form-group
                            label.col-md-3.control-label(style="font-weight: bold;") Account
                            div.col-md-6
                                p.remAccFormUser.form-control-static
                        div.form-group
                            label.col-md-3.control-label(style="font-weight: bold;") Domain
                            div.col-md-6
                                p.remAccFormDomain.form-control-static
                div.modal-footer
                    button.btn.btn-danger(data-dismiss="modal") No
                    button.btn.btn-success(onclick="WAdmin.AccountSection.remAccModal();") Yes

    //  модальне вікно створення акаунта
    div#add-acc-modal.modal.fade(tabindex="-1", role="dialog")
        div.modal-dialog.modal-lg
            div.modal-content
                div.modal-header
                    button.close(data-dismiss="modal")
                        span &times;
                    h5 Create new account
                div.modal-body
                    form.addNewAccForm.form-horizontal.col-sm-12
                        div.form-group
                            label.col-sm-3.control-label.is-required Name
                            div.col-sm-8
                                input.form-control.input-sm(type="text", name="callerName")
                                small.error-block
                        div.form-group
                            label.col-sm-3.control-label.is-required Login
                            div.col-sm-8
                                input.form-control.input-sm(type="text", name="login")
                                small.error-block
                        div.form-group
                            label.col-sm-3.control-label.is-required Password
                            div.col-sm-8
                                input.form-control.input-sm(type="text", name="pass")
                                small.error-block
                        div.form-group
                            label.col-sm-3.control-label Extension
                            div.col-sm-8
                                input.form-control.input-sm(type="text", name="extension")
                                small.error-block
                        div.form-group
                            label.col-sm-3.control-label Access PIN
                            div.col-sm-8
                                input.form-control.input-sm(type="text", name="vm-password")
                                small.error-block
                        div.form-group
                            label.col-sm-3.control-label Use voicemail
                            div.col-sm-1(style="height: 30px; line-height: 30px;")
                                label#acc-useVoiceMail-field.form-checkbox.form-normal.form-primary
                                    input(type="checkbox")

                        div.form-group
                            label.col-sm-3.control-label Role
                            div.col-sm-8(style="line-height: 30px;")
                                div
                                    select#acc-create-role
                                        option(value="user") User
                                        option(value="admin") Admin
                                        option(value="qm") QM
                                        option(value="supervisor") Supervisor
                                        option(value="agent") Agent
                        div.form-group
                            label.col-sm-3.control-label Agent
                            div.col-sm-8(style="height: 30px; line-height: 30px;")
                                label#acc-agent-field.form-checkbox.form-normal.form-primary
                                    input(type="checkbox")

                        div
                            ul#paramsVarsTab.nav.nav-tabs
                                li#varsTab.active
                                    a(data-toggle="tab" href="#acc1" isaccount="true") Variables
                                li#paramsTab(style="display: none;")
                                    a(data-toggle="tab" href="#acc2" isaccount="true") Agent parameters

                            div.tab-content
                                div#acc1.tab-pane.fade.active.in(role="tabpanel")
                                    div.form-group(style="margin: 0;")
                                        div.panel(style="border-bottom: 1px solid #ddd; border-left: 1px solid #ddd; border-right: 1px solid #ddd;")
                                            div#acc-create-variables(aria-expanded="false")
                                                div.panel-body
                                                    div(style="padding-bottom: 10px;")
                                                        span#acc-create-add-var.btn.btn-success.btn-xs Add
                                                    div#acc-create-variables-body

                                div#acc2.tab-pane.fade(role="tabpanel")
                                    div.form-group(style="margin: 0;")
                                        div.panel(style="border-bottom: 1px solid #ddd; border-left: 1px solid #ddd; border-right: 1px solid #ddd;")
                                            div(aria-expanded="false")
                                                div.panel-body
                                                    div(style="padding-bottom: 10px;")
                                                        div#agentDefParams.form-horizontal
                                                            div.form-group
                                                                label.col-md-3.control-label Call timeout
                                                                div.col-md-5
                                                                    input.form-control.input-sm(type="text" name="name" data-name="cc-agent-contact")

                                                            div.form-group
                                                                label.col-md-3.control-label Wrap up time
                                                                div.col-md-5
                                                                    input.form-control.input-sm(type="text" name="name" data-name="cc-agent-wrap-up-time")

                                                            div.form-group
                                                                label.col-md-3.control-label Max no answer
                                                                div.col-md-5
                                                                    input.form-control.input-sm(type="text" name="name" data-name="cc-agent-max-no-answer")

                                                            div.form-group
                                                                label.col-md-3.control-label Busy delay time
                                                                div.col-md-5
                                                                    input.form-control.input-sm(type="text" name="name" data-name="cc-agent-busy-delay-time")

                                                            div.form-group
                                                                label.col-md-3.control-label Reject delay time
                                                                div.col-md-5
                                                                    input.form-control.input-sm(type="text" name="name" data-name="cc-agent-reject-delay-time")

                                                            div.form-group
                                                                label.col-md-3.control-label No answer delay time
                                                                div.col-md-5
                                                                    input.form-control.input-sm(type="text" name="name" data-name="cc-agent-no-answer-delay-time")


                    div.clearfix
                div.modal-footer
                    button.btn.btn.btn-danger(data-dismiss="modal") No
                    button.btn.btn.btn-success(onclick="WAdmin.AccountSection.addNewAcc();") Yes


    //  модальне вікно редагування акаунта
    div#edit-acc-modal.modal.fade(tabindex="-1", role="dialog")
        div.modal-dialog.modal-lg
            div.modal-content

