doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Webitel UI
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <!--Open Sans Font -->
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin", rel="stylesheet")

        <!--Bootstrap Stylesheet -->
        link(href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css", rel="stylesheet")

        <!--Nifty Stylesheet -->
        link(href="/css/common/nifty.min.css", rel="stylesheet")

        <!--Font Awesome -->
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel="stylesheet")

        <!--Custom layuot Stylesheet -->
        link(href="/css/layout.css", rel="stylesheet")

        <!-- Bootstrap-Table Stylesheet -->
        link(rel="stylesheet", href="/js/libs/bootstrap-table/bootstrap-table.min.css")

        <!--Page Load Progress Bar -->
        link(href="/css/common/pace.min.css", rel="stylesheet")
        link(href='/statistic-filter/style.css', rel='stylesheet')
        link(href='/statistic-filter/bootstrap-datepicker3.min.css', rel='stylesheet')
        link(href='/statistic-filter/bootstrap-slider.min.css', rel='stylesheet')
        link(href='/statistic-filter/selectize.default.css', rel='stylesheet')
        link(href='/statistic-filter/bootstrap-select.min.css', rel='stylesheet')
        link(href='/statistic-filter/awesome-bootstrap-checkbox.css', rel='stylesheet')
        link(href='/statistic-filter/Filter.css', rel='stylesheet')
        script(src="/js/common/pace.min.js")
        script(src='/statistic-filter/jquery-1.11.2.min.js')
        //script(src='/statistic-filter/angular.min.js')
        //script(src='/statistic-filter/bootstrap.min.js')
        script(src='/statistic-filter/bootbox.min.js')
        script(src='/statistic-filter/docs.min.js')
        //script(src='/statistic-filter/modules/StatisticModule.js')
        script(src='/statistic-filter/moment.min.js')
        script(src='/statistic-filter/bootstrap-datepicker.min.js')
        script(src='/statistic-filter/bootstrap-slider.min.js')
        script(src='/statistic-filter/selectize.min.js')
        script(src='/statistic-filter/bootstrap-select.min.js')
        script(src='/statistic-filter/query-builder.standalone.min.js')

    body
        div#container.effect.mainnav-lg
            <!--NAVBAR-->
            header#navbar
                div#navbar-container.boxed
                    <!--Brand logo & name-->
                    div.navbar-header
                        a.navbar-brand(href="#", onclick="return false;")
                            img.brand-icon(src="/img/logo.png", alt="Webitel Logo")
                            div.brand-title
                                span.brand-text Webitel
                    <!--End brand logo & name-->

                    <!--Navbar Dropdown-->
                    div.navbar-content.clearfix
                        ul.nav.navbar-top-links.pull-left
                            <!--Navigation toogle button-->
                            li.tgl-menu-btn
                                a.mainnav-toggle(href="#")
                                    i.fa.fa-navicon.fa-lg

                        ul.nav.navbar-top-links.pull-right
                            <!--Language selector-->
                            li.dropdown
                                a.lang-selector.dropdown-toggle(href="#", data-toggle="dropdown")
                                    span.lang-selected
                                        img.lang-flag(src="/img/flags/united-kingdom.png", alt="English")
                                        span.lang-id EN
                                        span.lang-name English


                            <!--User dropdown-->
                            li#dropdown-user.dropdown
                                a.dropdown-toggle.text-right(href="#", data-toggle="dropdown")
                                    span.pull-right
                                        img.img-circle.img-user.media-object(src="/img/av1.png", alt="Profile Picture")
                                    div.username.hidden-xs John Doe

                                div.dropdown-menu.dropdown-menu-md.dropdown-menu-right.with-arrow.panel-default
                                    <!-- Dropdown heading  -->
                                    div.pad-all.bord-btm
                                        //p.text-lg.text-muted.text-thin.mar-btm 750Gb of 1,000Gb Used
                                        //div.progress.progress-sm
                                            div.progress-bar(style="width: 70%;")
                                                span.sr-only 70%

                                    <!-- User dropdown menu -->
                                    ul#userDropdownMenu.head-list
                                        li.profile
                                            a(href="/profile", pushState="/profile")
                                                i.fa.fa-user.fa-fw.fa-lg
                                                | Profile

                                    <!-- Dropdown footer -->
                                    div.pad-all.text-right
                                        a#logout.btn.btn-primary(href="/logout")
                                            i.fa.fa-sign-out.fa-fw
                                            | Logout



            div class="boxed"
                <!--CONTENT CONTAINER-->
                div#content-container(style="display: none;")
                    //  This block is never used. This warning will be an error in v2.0.0
                    block body

                <!--MAIN NAVIGATION-->
                nav#mainnav-container
                    div#mainnav
                        <!--Shortcut buttons-->
                        div#mainnav-shortcut(style="visibility: hidden;")
                            ul.list-unstyled
                                li.col-xs-4(data-content="Aside")
                                    a.shortcut-grid.aside-toggle(href="#", onclick="return false;")
                                        i.fa.fa-magic
                                li.col-xs-4(data-content="Video")
                                    a.shortcut-grid(href="#", onclick="return false;")
                                        i.fa.fa-video-camera
                                li.col-xs-4(data-content="User")
                                    a.shortcut-grid(href="#", onclick="return false;")
                                        i.fa.fa-user

                        <!--Menu-->
                        div#mainnav-menu-wrap
                            div.nano
                                div.nano-content
                                    ul#mainnav-menu.list-group
                                        li
                                            a.main-manu-link(href="/account", pushState="/account")
                                                i.fa.fa-users(style="width: 22px; height: 12px;")
                                                span.menu-title Account
                                        if role != "user"
                                            li
                                                a.main-manu-link(href="/gateways", pushState="/gateways")
                                                    i.fa.fa-plane(style="width: 22px; height: 12px;")
                                                    span.menu-title Gateways
                                        if role != "user"
                                            li
                                                a.main-manu-link(href="/callflow", pushState="/callflow")
                                                    i.fa.fa-sitemap(style="width: 22px; height: 12px;")
                                                    span.menu-title Callflow
                                        li
                                            a.main-manu-link(href="/statistics", pushState="/statistics")
                                                i.fa.fa-bar-chart-o(style="width: 22px; height: 12px;")
                                                span.menu-title Statistics

                                        if role != "user"
                                            li
                                                a.main-manu-link(href="/media", pushState="/media")
                                                    i.fa.fa-play(style="width: 22px; height: 12px;")
                                                    span.menu-title Media

                                        if role != "user"
                                            li
                                                a.main-manu-link(href="/acd", pushState="/acd")
                                                    i.fa.fa-th-list(style="width: 22px; height: 12px;")
                                                    span.menu-title ACD
                                        if role == "root"
                                            li
                                                a.main-manu-link(href="/cdr", pushState="/cdr")
                                                    i.fa.fa-th-list(style="width: 22px; height: 12px;")
                                                    span.menu-title Call detail record


                                        li.list-divider

                                    //  віджети головного меню
                                    if role == "root"
                                        div.mainnav-widget
                                            div.show-small
                                                a(href="#", data-toggle="menu-widget", data-target="#domain-wg", data-original-title="", title="", class="")
                                                    i.fa.fa-desktop
                                            div#domain-wg.hide-small.mainnav-widget-content(style="padding: 0 15px;")
                                                ul.list-group
                                                    li.pad-ver
                                                        button#select-domain.btn.btn-success.btn-labeled.fa.fa-search(selectedDomain="" style="max-width: 190px;") Select domain


                aside#aside-container
                    div#aside
                        div.nano
                            div.nano-content
                                <!--Nav tabs-->
                                ul.nav.nav-tabs.nav-justified
                                    li.active
                                        a(href="#demo-asd-tab-1", data-toggle="tab")
                                            i.fa.fa-comments
                                    li
                                        a(href="#demo-asd-tab-2", data-toggle="tab")
                                            i.fa.fa-info-circle
                                    li
                                        a(href="#demo-asd-tab-3", data-toggle="tab")
                                            i.fa.fa-wrench
                                    li
                                        a(href="#demo-asd-tab-4", data-toggle="tab")
                                            i.fa.fa-shield

                                <!-- Tabs Content -->
                                div.tab-content
                                    <!--First tab-->
                                    div.tab-pane.fade.in.active#demo-asd-tab-1
                                        h4.pad-hor.text-thin
                                            | First tab
                                        div.pad-all
                                            | Text ...
                                    <!--Second tab-->
                                    div.tab-pane.fade#demo-asd-tab-2
                                        h4.pad-hor.text-thin
                                            | Second tab
                                        div.pad-all
                                            | Text ...

                                    <!--Third tab-->
                                    div.tab-pane.fade#demo-asd-tab-3
                                        h4.pad-hor.text-thin
                                            | Third tab
                                        div.pad-all
                                            | Text ...

                                    <!--Fourth tab-->
                                    div.tab-pane.fade#demo-asd-tab-4
                                        h4.pad-hor.text-thin
                                            | Fourth tab
                                        div.pad-all
                                            | Text ...
            <!-- SCROLL TOP BUTTON -->
            button#scroll-top.btn
                i.fa.fa-chevron-up

            //  модальне вікно вибору домена
            div#mainnav-domain-modal.modal.fade(tabindex="-1", role="dialog")
                div.modal-dialog
                    div.modal-content
                        div.modal-header
                            button.close(data-dismiss="modal")
                                span &times;
                            h4 Select domain
                        div.modal-body
                            div(style="height: 26px;")
                                button#reloadDomainLookup.btn.btn-info.btn-icon.fa.fa-refresh(style="float: right; margin: 0 3px;")

                            table#mainnav-domainListTable

            //  модальне вікно створення домена
            div#firstDomainModal.modal.fade(tabindex="-1", role="dialog")
                div.modal-dialog(style="width: 400px;")
                    div.modal-content
                        div.modal-header
                            button.close(data-dismiss="modal")
                                span &times;
                            h5 Create new domain
                        div.modal-body
                            form#firstDomainForm.form-horizontal
                                div#firstDomainName.form-group
                                    label.col-md-4.control-label.is-required Name
                                    div.col-md-7
                                        input.form-control.input-sm(type="text")
                                        small.error-block
                                div#firstDomainCustomerID.form-group
                                    label.col-md-4.control-label.is-required Customer id
                                    div.col-md-7
                                        input.form-control.input-sm(type="text")
                                        small.error-block
                                div.form-group
                                    label.col-md-4.control-label Language
                                    div.col-md-7(style="line-height: 30px;")
                                        select#first-domain-language
                                            option(value="en") EN
                                            option(value="ru") RU
                                div.form-group
                                    label.col-md-4.control-label Provider
                                    div.col-md-7(style="line-height: 30px;")
                                        select#first-domain-provider
                                            option(value="") None
                                            option(value="callmax") Callmax

                        div.modal-footer
                            button.btn.btn.btn-danger(data-dismiss="modal") No
                            button#createFirstDomain.btn.btn.btn-success Yes



        <!--jQuery -->
        <!--script(src="/js/common/jquery-2.1.1.js")-->
        <!--BootstrapJS -->
        script(src="/js/common/bootstrap.min.js")

        <!--Fast Click -->
        script(src="/js/common/fastclick.min.js")

        <!--Nifty Admin -->
        script(src="/js/common/nifty.min.js")

        <!--Bootstrap-Table.js -->
        script(src="/js/libs/bootstrap-table/bootstrap-table.min.js")

        <!--Bootstrap-select v1.6.3 -->
        script(src="/js/common/bootstrap-select.min.js")

        script(src='/statistic-filter/modules/Demo-import-export.js')
        <!--RequireJS -->
        script(data-main="/js/app/main", src="/js/libs/RequireJS/require.js")

        <!-- JIRA feedback -->
        script(type="text/javascript" src="https://my.webitel.com/s/939895dfcb3abe3f51a80728990a674e-T/en_US1iwwg4/64023/163/1.4.26/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=6aa8443b")



