a:hover.test {
    color: gray;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}

a.test {
    color: gray;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}

#tableText
{
    font-size: 12px;
}

