div#page-content


    div.row
        div#fixedProfileCont.col-lg-4
            div(style="width: 250px; background: white;")
                div.text-center.pad-all
                    div.pad-ver
                        img.img-lg.img-border.img-circle(src="img/av1.png", alt="Profile Picture")
                    h4.text-lg.text-overflow.mar-no Admin
                    //p.text-sm Digital Marketing Director
                    div.pad-ver.btn-group
                        a.btn.btn-icon.btn-hover-primary.fa.fa-facebook.icon-lg.add-tooltip(title="", href="#", data-original-title="Facebook", data-container="body", onclick="return false;")
                        a.btn.btn-icon.btn-hover-info.fa.fa-twitter.icon-lg.add-tooltip(title="", href="#", data-original-title="Twitter", data-container="body", onclick="return false;")
                        a.btn.btn-icon.btn-hover-danger.fa.fa-google-plus.icon-lg.add-tooltip(title="", href="#", data-original-title="Google+", data-container="body", onclick="return false;")
                        a.btn.btn-icon.btn-hover-mint.fa.fa-envelope.icon-lg.add-tooltip(title="", href="#", data-original-title="Email", data-container="body", onclick="return false;")

                    button.btn.btn-block.btn-success In development


    link(href="css/profile/profile.css", rel="stylesheet")
