div#page-title
    h1.page-header.text-overflow Statistics

div#page-content
    div.panel.panel-primary
        div.panel-heading
            div.panel-control(style="float: left;")
                ul.nav.nav-tabs
                    li.active
                        a#statistics-tab(data-toggle="tab", href="#statistics-tab-box") Statistics
                    //li
                        a#charts-tab(data-toggle="tab", href="#charts-tab-box") Charts

                //  Таб із таблицею статистики
                div#statistics-tab-box.tab-pane.fade.active.in
                    div.row
        div
        #builder-import_export
        div.row
            p(id="loadText", align="center", style="display: none;") Loading data...
        div(ng-controller="statisticController" id="data-content")
            div.row
                div#applyFilter(style="margin-top: 10px;margin-left: 30px;")
                    button.btn.btn-primary.btn-xs(style='margin-top: 7px;margin-left: 15px;margin-top: -10px;', ng-click='useFilter()') Apply
                    button.btn.btn-primary.btn-xs(style='margin-top: -10px;margin-left: 0px;margin-top: -10px;', ng-click='resetFilter()') Reset
                div
                    export-excel-cont(style="margin-right: 35px;float: right;margin-top: -20px;")
                        i.fa.fa-cog.fa-spin.fa-lg(id="loadExcel", style="display: none;")
                        a#exportToExcelLink
                            img(src='/img/exportToExcel.jpg')
            div.row
                p(id="rowCount", style='float: right;color: #12708a;font-family: Verdana;margin-top: 7px;font-size: 13px;margin-right: 30px;margin-top: 0px;') Rows: {{rows}}
            div.row(style='margin-left: 15px;margin-right: 15px;')
                table(style="width: 100%;margin-top: 10px;", id="headerTable")
                    tr(class="border_bottom")
                        td.col-md-2.small(style='text-align: center; vertical-align: middle;')
                            p(style='color: grey; font-size: 11px;')
                                a.test(ng-click='makeSort(0)', href='#') {{sortCaptions[0].caption}}
                        td.col-md-1.small(style='text-align: center; vertical-align: middle;')
                            p(style='color: grey; font-size: 11px;')
                                a.test(ng-click='makeSort(1)', href='#') {{sortCaptions[1].caption}}
                        td.col-md-2.small(style='text-align: center; vertical-align: middle;')
                            p(style='color: grey; font-size: 11px;')
                                a.test(ng-click='makeSort(2)', href='#') {{sortCaptions[2].caption}}
                        td.col-md-2.small(style='text-align: center; vertical-align: middle;')
                            p(style='color: grey; font-size: 11px;')
                                a.test(ng-click='makeSort(3)', href='#') {{sortCaptions[3].caption}}
                        td.col-md-1.small(style='text-align: center; vertical-align: middle;')
                            p(style='color: grey; font-size: 11px;')
                                a.test(ng-click='makeSort(4)', href='#') {{sortCaptions[4].caption}}
                        td.col-md-1.small(style='text-align: center; vertical-align: middle;')
                            p(style='color: grey; font-size: 11px;')
                                a.test(ng-click='makeSort(5)', href='#') {{sortCaptions[5].caption}}
                        td.col-md-1.small(style='text-align: center; vertical-align: middle;')
                            p(style='color: grey; font-size: 11px;')
                                a.test(ng-click='makeSort(6)', href='#') {{sortCaptions[6].caption}}
                        td.col-md-2.small(style='text-align: center; vertical-align: middle;')
                            p(style='color: grey; font-size: 11px;')
                                a.test(ng-click='makeSort(7)', href='#') {{sortCaptions[7].caption}}
                div(style='overflow-y: scroll; height: 500px;overflow-x: hidden;', scrolly='showMore()')
                    table#myTable.table(ng-repeat='call in calls')
                        tr(class="border_bottom", ng-click='clickRowTable(call.uuid)')
                            td.col-md-2.small(style='text-align: center; vertical-align: middle;font-size: 11px;')
                                p#tableText  {{call.callerName}}
                            td.col-md-1.small(style='text-align: center; vertical-align: middle;font-size: 11px;')
                                p#tableText  {{call.callerNumber}}
                            td.col-md-2.small(style='text-align: center; vertical-align: middle;font-size: 11px;')
                                p#tableText  {{call.destinationNumber}}
                            td.col-md-2.small(style='text-align: center; vertical-align: middle;font-size: 11px;')
                                p#tableText  {{call.createdTime}}
                            td.col-md-1.small(style='text-align: center; vertical-align: middle;font-size: 11px;')
                                p#tableText  {{call.billSeconds}}
                            td.col-md-1.small(style='text-align: center; vertical-align: middle;font-size: 11px;')
                                p#tableText  {{call.duration}}
                            td.col-md-1.small(style='text-align: center; vertical-align: middle;font-size: 11px;')
                                p#tableText  {{call.direction}}
                            td.col-md-2.small(style='text-align: center; vertical-align: middle;font-size: 11px;')
                                p#tableText  {{call.hangupCause}}
                        tr(id='{{call.uuid}}', style='display: none;', class="border_bottom")
                            td(colspan='8')
                                div.row
                                    div.col-md-2
                                        p(style='color: dimgray;font-size: 11px;margin-left: 100px;')
                                            strong Answered time:
                                        p(style="margin-left: 100px;")
                                            | {{call.answeredTime}}
                                    div.col-md-2
                                        p(style='color: dimgray;font-size: 11px;margin-left: 100px;')
                                            strong Bridged time:
                                        p(style="margin-left: 100px;")
                                            | {{call.bridgedTime}}
                                    div.col-md-2
                                        p(style='color: dimgray;font-size: 11px;margin-left: 100px;')
                                            strong Hangup time:
                                        p(style="margin-left: 100px;")
                                            | {{call.hangupTime}}
                                    div.col-md-2
                                        p(style='color: dimgray;font-size: 11px;margin-left: 100px;')
                                            strong Hangup cause:
                                        p(style="margin-left: 100px;")
                                            | {{call.hangupCause}}
                                    div#applyFilter(class="col-md-4")
                                        button.btn.btn-primary.btn-xs(style="float: right;", ng-click="getJson()") JSON
                                div.row
                                    div.col-md-2

                                div.row
                                    div.col-md-2

                                div.row
                                    div.col-md-2

                                div.row
                                div.row
    //  модальне вікно вибору домена для фільтрації статистики по домену
    div#stat-domain-lookup-modal.modal.fade(tabindex="-1", role="dialog")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(data-dismiss="modal")
                        span &times;
                    h4 Select domain
                div.modal-body
                    table#statDomainListTable

<!-- CSS Datepicker3 -->
<!--link(href="/js/libs/bootstrap-datepicker/datepicker3.css", rel="stylesheet")-->
<!-- CSS custom Statistics -->
link(href="/css/statistics/statistics.css", rel="stylesheet")
<!-- CSS for MediaElement -->
link(href="/js/libs/MediaElement/MediaElement.css", rel="stylesheet")
<!-- CSS for jsonview -->
link(href="/js/libs/jsonViewver/dist/jquery.jsonview.css", rel="stylesheet", type="text/css")
                             